.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3px;
}

.openModalButton {
  background-color: #e9e8ea;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.openModalButton:hover {
  background-color: #5a3e9e;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
  max-height: 70vh;
  overflow-y: auto;
  color: black;
}

.closeButton {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 10px;
  color: #db5461;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
}

.notificationItem {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  color: rgb(13, 1, 1);
  display: flex;
  flex-direction: column;
}

.notificationCloseButton {
  position: absolute;
  font-size: 25px;
  top: 5px;
  right: 5px;
  color: #db5461;
  border: none;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}

.notificationItem h3 {
  margin: 0;
}

.notificationItem p {
  margin: 0;
  font-size: 14px;
}

.notificationIconContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.notificationBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ff0000;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 7px;
}
