.outerContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 170px);
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

.scrollableDaysContainer {
  flex: 1;
  overflow-y: auto;
  padding-right: 15px; /* Add space for scrollbar */
}

.daySummaryContainer {
  width: 100%;
}

.courseDetailsContainer {
  width: 100%;
}

.courseItemContainer {
  padding: 12px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8061C3;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
}
