.outerContainer {
    border: 2px solid #A54BFF;
    border-radius: 8px;
    padding: 15px;
    margin: 19px auto;
    display: flex;
    flex-direction: column;
    height: calc(70vh - 80px);
    width: 90%;
    max-width: 700px;
    overflow: hidden;
  }
  
  .scrollableDaysContainer {
    flex: 1;
    overflow-y: auto;
    padding-right: 5px;
    border-right: 1px solid #ddd;
  }
  
  .courseDetailsContainer {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #F9F9F9;
  }
  