.outerContainer {
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: calc(80vh - 70px);
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.scrollableDaysContainer {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
  border-right: 1px solid #E0E0E0;
  height: 100%;
}

.scrollableDaysContainer::-webkit-scrollbar {
  width: 12px;
}

.scrollableDaysContainer::-webkit-scrollbar-track {
  background: #F1F1F1;
  border-radius: 8px;
}

.scrollableDaysContainer::-webkit-scrollbar-thumb {
  background: #8061C3;
  border-radius: 8px;
}

.scrollableDaysContainer::-webkit-scrollbar-thumb:hover {
  background: #8061C3;
}
