/* CourseContainer.module.css */
.outerContainer {
  border: 2px solid #A54BFF;
  border-radius: 8px;
  padding: 15px;
  margin: 19px auto;
  display: flex;
  flex-direction: column;
  height: calc(80vh - 50px); /* Adjusted height */
  width: 100%; /* Increased width */
  max-width: 1000px; /* Increased max-width */
  overflow: hidden;
}

.scrollableDaysContainer {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
  border-right: 1px solid #ddd;
  height: 100%; /* Ensure it takes up the remaining space */
}

.scrollableDaysContainer::-webkit-scrollbar {
  width: 12px;
}

.scrollableDaysContainer::-webkit-scrollbar-track {
  background: #F9F9F9;
  border-radius: 8px;
}

.scrollableDaysContainer::-webkit-scrollbar-thumb {
  background: #A54BFF;
  border-radius: 8px;
}

.scrollableDaysContainer::-webkit-scrollbar-thumb:hover {
  background: #8e3aab;
}

.selectBatch {
  .MuiSelect-root {
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #F9F9F9;
    font-size: 16px;
    color: #333;
  }

  .MuiSelect-icon {
    color: #A54BFF;
  }

  .MuiMenuItem-root {
    font-size: 16px;
    color: #333;
  }

  .MuiMenuItem-root:hover {
    background-color: #E6E6FA;
  }
}
